@charset "UTF-8";

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
img {
  vertical-align: bottom;
}
.font-lato {
  font-family: lato;
}
.font-raleway {
  font-family: raleway;
}
#header  {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  background-color: #fff;
  z-index: 10;
}
.header-inner {
  width: 1100px;
  margin: 0 auto;
}
.bolt-icon {
  float: left;
  color: #4e4e4e;
  font-size: 40px;
  line-height: 40px;
}
.menu-button {
  float: right;
  font-size: 12px;
  padding: 14px 12px;
  color: #fff;
  background-color: #74cfae;
  cursor: default;
  text-decoration: none;
  display: block;
}
.navMenu-button {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  display: none;
  position: fixed;
  right: 18px;
  top: 12px;
  width: 45px;
  height: 25px;
}
.navMenu-button-line {
  position: absolute;
  width: 30px;
  border-bottom: solid 3px #ddd;
  left: 18px;
}
.navMenu-button-line:nth-child(1) {
  top: 12px;
}
.navMenu-button-line:nth-child(2) {
  top: 21px;
}
.navMenu-button-line:nth-child(3) {
  top: 30px;
}
#main {
  margin-top: 70px;
}
.main-inner {
  width: 1100px;
  margin: 0 auto;
}
.bolt-title{
  background-color: #f2f2f2;
  padding: 250px 0;
}
.bolt-title-main {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  text-align: center;
}
.bolt-title-sub {
  font-size: 30px;
  color: #c0c0c0;
  text-align: center;
  margin-top: 20px;
}
.content-wwcd {
  background-color: #74cfae;
  padding-top: 50px;
}
.content-wwcd-img {
  float: left;
  margin-left: 100px;
}
.content-wwcd-box {
  float: right;
  width: 650px;
  margin-top: 20px;
}
.content-wwcd-title {
  color: #fff;
  font-size: 24px;
  text-align: center;
}
.content-wwcd-text {
  color: #fff;
  font-size: 20px;
  margin-top: 35px;
  text-align: center;
  line-height: 30px;
}
.content-olw {
  padding: 60px 0 70px 0;
  background-color: #f2f2f2;
}
.content-olw-title {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}
.content-olw-img{
  opacity: 0.7;
  transition: 0.3s ease-in-out;
  cursor: default;
}
.content-olw-img:hover {
  opacity: 1.0;
}
.content-olw-textBox {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
}
.content-olw-text {
  line-height: 20px;
  color: #333;
}
.content-olw-button {
  color: #fff;
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  margin-left: 90px;
  cursor: default;
  text-decoration: none;
  white-space: nowrap;
  transition: 0.3s ease-in-out;
}
.content-olw-button:hover {
  color: #333;
}
.content-os {
  background-color: #4e4e4e;
  padding: 70px 0 100px 0;
}
.content-os-title {
  color: #fff;
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}
.content-os-skillsBox {
  display: flex;
  justify-content: center;
}
.content-os-skills {
  margin-left: 180px;
}
.content-os-skills:first-child {
  margin-left: 0;
}
.content-os-skillName {
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}
.content-sns {
  background-color: #f2f2f2;
  padding: 200px 0;
}
.content-sns-iconBox {
  display: flex;
  justify-content: center;
  text-align: center;
}
.content-sns-icon {
  width: 185px;
  vertical-align: middle;
  padding: 30px 0;
  transition: 0.3s ease-in-out;
}
.content-sns-icon:hover {
  background-color: #fff;
  cursor: pointer;
  cursor: hand;
}
.content-sns-icon-inner {
  color: #74cfae;
}
#footer {
  background-color: #74cfae;
}
.footer-inner {
  width: 1100px;
  margin: 0 auto;
  padding: 20px 0 25px 0;
}
.footer-text {
  text-align: right;
  color: #fff;
}

@media screen and (min-width: 1200px){
  .content-olw-imgBox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .content-olw-img-inner {
    margin: 0 0 80px 100px;
  }
  .content-olw-img-inner:nth-child(3n+1) {
    margin-left: 0;
  }
  .content-olw-img-inner:nth-last-child(-n+3) {
    margin-bottom: 90px;
  }
}
@media screen and (min-width: 767px) and ( max-width: 1199px){
  .header-inner, .main-inner, .footer-inner{
    width: 97%;
  }
  .content-wwcd {
    padding: 50px 0 25px 0;
  }
  .content-wwcd-title {
    margin-top: 20px;
  }
  .content-wwcd-img {
    float: none;
    margin-left: 0;
    text-align: center;
  }
  .content-wwcd-box {
    float: none;
    width: 80%;
    margin-top: 20px;
    margin: 0 auto;
  }
  .content-olw-imgBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .content-olw-img-inner:nth-child(3n), .content-olw-img-inner:last-child{
    margin-bottom: 80px;
  }
  .content-olw-textBox {
    flex-direction: column;
  }
  .content-olw-button {
    margin: 0 auto;
    margin-top: 40px;
  }
  .content-os-skillsBox {
    flex-direction: column;
    text-align: center;
  }
  .content-os-skills {
    margin: 0 0 88px 0;
  }
  .content-os-skills:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 766px) {
  .header-inner, .main-inner, .footer-inner{
    width: 97%;
  }
  .bolt-icon {
    float: none;
  }
  .menu-button {
    display: none;
    margin: 11px -3% 0;
    float: none;
  }
  .menu-button-show, .navMenu-button {
    display: block;
  }
  .bolt-title {
    padding: 160px 0 130px;
  }
  .bolt-title-main {
    font-size: 80px;
  }
  .content-wwcd {
    padding: 50px 0 25px 0;
  }
  .content-wwcd-title {
    margin-top: 20px;
  }
  .content-wwcd-img {
    float: none;
    margin-left: 0;
    text-align: center;
  }
  .content-wwcd-box {
    float: none;
    width: 80%;
    margin-top: 20px;
    margin: 0 auto;
  }
  .content-olw-imgBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .content-olw-img-inner:nth-child(3n), .content-olw-img-inner:last-child{
    margin-bottom: 80px;
  }
  .content-olw-textBox {
    flex-direction: column;
  }
  .content-olw-button {
    margin: 40px auto 0;
  }
  .content-os-skillsBox {
    flex-direction: column;
    text-align: center;
  }
  .content-os-skills {
    margin: 0 0 88px 0;
  }
  .content-os-skills:last-child {
    margin-bottom: 0;
  }
  .content-sns {
    padding: 50px 0;
  }
  .content-sns-iconBox {
    flex-direction: column;
  }
  .content-sns-icon {
    width: 100%;
  }
}